body{
    margin: 0;
    background: url(img/back.png);
}
header{
    display: flex;
}
footer{
    display: flex;
    position: absolute;
    width: 1920px;
    height: 125px;
    left: 0px;
    top: 955px;
    background: rgba(217, 217, 217, 0.01);
    backdrop-filter: blur(14px);
    border-top: 1px solid rgba(255, 255, 255, 0.29);

}
.icon{
    position: absolute;
    height: 61px;
    left: 189px;
    top: 43px;
}
.menu{
    position: absolute;
    width: px;
    height: px;
    left: 1234px;
    top: 53px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 95%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.115em;
    color: #FFFFFF;
}

a{
    margin: 12px 42.5px 12px 42.5px;
}
img{
    margin-right: 42.5px;
}
.title_page{
    position: absolute;
    width: 1531px;
    height: 152px;
    left: 194px;
    top: 305px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    line-height: 95%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFBA52;
}
.text_page{
    position: absolute;
    width: 440px;
    height: 54px;
    left: 740px;
    top: 450px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 95%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.button{
    position: absolute;
    width: 228px;
    height: 57px;
    left: 840px;
    top: 600px;
    background: #CC8D30;
    box-shadow: 0px 1px 16px 3px rgba(204, 141, 48, 0.25);
    border-radius: 25px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 95%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.margin_button{
    margin-left: 65px;

}
.Footer_text{
    position: absolute;   
    height: 100px;
    left: 161px;
    top: 18px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 95%;
    align-items: center;
    text-align: center;
    letter-spacing: -0.115em;
    color: #FFFFFF;
}
.Footer_credits{
    position: absolute;
    width: 506px;
    height: 45px;
    left: 707px;
    top: 40px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 95%;
    align-items: center;
    text-align: center;
    letter-spacing: -0.115em;
    color: #FFFFFF;
}
.Footer_img{
    position: absolute;
    display: flex;
    width: 204px;
    height: 41px;
    left: 1497px;
    top: 47px;
    mix-blend-mode: overlay;
}
.Footer_text_box{
    margin: 12px 42.5px 12px 42.5px;
}
.blur{
    position: absolute;
    width: 1920px;
    height: 970px;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 37px 66px rgba(0, 0, 0, 0.53);
    filter: blur(4.5px);
    backdrop-filter: blur(7px);
}
.container{
    box-sizing: border-box;
    position: absolute;
    width: 498px;
    left: 711px;
    top: 467px;
    color: rgba(255, 255, 255, 0.43);
}
.title_form{
    position: absolute;
    width: 177px;
    height: 56px;
    left: 900px;
    top: 372px; 
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 95%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.115em;
    color: #FFFFFF;
}
input{
    box-sizing: border-box;
    width: 498px;
    height: 47px;
    margin: 10px 0px 14px 10px;
    border: 1px solid rgba(255, 255, 255, 0.43);
    border-radius: 13px;
    background: rgba(0, 0, 0, 0.1); 
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;   
    align-items: center;
    letter-spacing: -0.115em;
    color: rgba(255, 255, 255, 0.57);
}
.button2{
    position: absolute;
    width: 228px;
    height: 57px;
    left: 146px;
    margin-top: 107px;
    background: #CC8D30;
    box-shadow: 0px 1px 16px 3px rgba(204, 141, 48, 0.25);
    border-radius: 25px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 95%;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.margin_button2{
    margin-top: 15px;
}
.margin_button3{
    margin-left: 70px;
}
.result{
    position: absolute;
    width: 177px;
    height: 56px;
    left: 910px;
    top: 460px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 95%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.form_question{
    position: absolute;
    width: 498px;
    height: 47px;
    left: 711px;
    top: 613px;
}
.yes_no{
    position: absolute;
    width: 100px;
    height: 23px;
    left: 919px;
    top: 550px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 95%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.button3{
    position: absolute;
    width: 208px;
    height: 40px;
    left: 860px;
    top: 710px;
    background: #CC8D30;
    border-radius: 12px;
}
.margin_button3{
    position: absolute;
    margin: 0 0 0 30px;
    width: 208px;
    height: 40px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 95%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.text_page2{
    position: absolute;
    width: 1000px;
    height: 54px;
    left: 440px;
    top: 510px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 95%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.button4{
        position: absolute;
        width: 208px;
        height: 40px;
        left: 880px;
        top: 710px;
        background: #CC8D30;
        border-radius: 12px;

}
#button:active{
    box-shadow: inset 2px 2px 18px rgba(0, 0, 0, 0.64);
    text-decoration: none;
}
#button:visited{
    text-decoration: none;
}
#button:hover{
    filter: drop-shadow(0px 0px 14px rgba(255, 217, 160, 0.25));
    text-decoration: none;
}
#button:link{
    text-decoration: none;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}
